# High-Performance Pandas:eval() and query()

## Motivating query() and eval():Compound Expressions

In [1]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(1000000)
y = rng.rand(1000000)
%timeit x + y

2.34 ms ± 95.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [2]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

239 ms ± 1.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
mask = (x > 0.5) & (y < 0.5)

In [4]:
tmp1 = (x > 0.5)
tmp2 = (y < 0.5)
mask = tmp1 & tmp2

In [5]:
import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
np.allclose(mask, mask_numexpr)

True

## pandas.eval() for Efficient Operations

In [6]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))

In [7]:
%timeit df1 + df2 + df3 + df4

184 ms ± 9.83 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
np.allclose(df1 + df2 + df3 + df4,
            pd.eval('df1 + df2 + df3 + df4'))

True

### Operations supported by pd.eval()

In [9]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [10]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

True

In [11]:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

True

In [12]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1, result2)

True

In [13]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result1, result3)

True

In [14]:
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1, result2)

True

## DataFrame.eval() for Column-Wise Operation

In [15]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

In [16]:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

True

In [17]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

True

In [18]:
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

In [19]:
df.eval('D = (A + B) / C', inplace=True)
df.head()

          A         B         C          D
0  0.375506  0.406939  0.069938  11.187620
1  0.069087  0.235615  0.154374   1.973796
2  0.677945  0.433839  0.652324   1.704344
3  0.264038  0.808055  0.347197   3.087857
4  0.589161  0.252418  0.557789   1.508776

In [20]:
df.eval('D = (A - B) / C', inplace=True)
df.head()

          A         B         C         D
0  0.375506  0.406939  0.069938 -0.449425
1  0.069087  0.235615  0.154374 -1.078728
2  0.677945  0.433839  0.652324  0.374209
3  0.264038  0.808055  0.347197 -1.566886
4  0.589161  0.252418  0.557789  0.603708

In [21]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

True

## DataFrame.query() Method

In [22]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [23]:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

In [24]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True

In [25]:
result2

            A         B         C          D
0    0.375506  0.406939  0.069938  -0.449425
1    0.069087  0.235615  0.154374  -1.078728
7    0.406639  0.128631  0.160742   1.729526
8    0.020236  0.354904  0.067919  -4.927445
16   0.110796  0.100477  0.561988   0.018362
18   0.502528  0.031194  0.878520   0.536510
26   0.426630  0.353436  0.431680   0.169556
31   0.016614  0.230098  0.837744  -0.254833
38   0.002610  0.095107  0.548725  -0.168568
42   0.444995  0.043378  0.696526   0.576600
48   0.070207  0.251274  0.115561  -1.566847
53   0.473430  0.423152  0.907486   0.055404
57   0.093499  0.437997  0.756979  -0.455097
64   0.099312  0.275981  0.461368  -0.382925
72   0.246334  0.093113  0.026666   5.745956
80   0.242322  0.431682  0.143060  -1.323641
84   0.015859  0.276846  0.534146  -0.488605
85   0.020365  0.392727  0.768269  -0.484677
87   0.172450  0.016778  0.596210   0.261103
89   0.474679  0.182045  0.471249   0.620974
92   0.472997  0.371715  0.710610   0.142528
94   0.190084  0.242617  0.963236  -0.054538
97   0.045508  0.322520  0.437361  -0.633371
98   0.277280  0.397855  0.898851  -0.134144
102  0.172145  0.437702  0.886311  -0.299621
103  0.208369  0.342687  0.933996  -0.143810
104  0.332392  0.449634  0.615146  -0.190592
105  0.101692  0.378899  0.975489  -0.284172
106  0.053416  0.071015  0.460322  -0.038233
112  0.254566  0.057223  0.378222   0.521765
..        ...       ...       ...        ...
893  0.353391  0.130477  0.599880   0.371599
895  0.253247  0.225747  0.287549   0.095636
896  0.318509  0.137506  0.585112   0.309349
900  0.450183  0.346028  0.425322   0.244887
902  0.429289  0.220610  0.133430   1.563966
903  0.479373  0.415394  0.542875   0.117853
905  0.069337  0.214793  0.062255  -2.336455
906  0.209090  0.252726  0.259628  -0.168075
909  0.003562  0.403996  0.037138 -10.782229
918  0.352867  0.376017  0.456949  -0.050663
920  0.024941  0.099300  0.200223  -0.371379
921  0.186059  0.413447  0.365662  -0.621853
922  0.486063  0.501821  0.570445  -0.027624
923  0.238413  0.397374  0.318412  -0.499230
943  0.475601  0.415347  0.967227   0.062296
953  0.170241  0.448794  0.638214  -0.436457
957  0.280398  0.167461  0.928921   0.121578
963  0.322647  0.438341  0.031187  -3.709735
965  0.349290  0.245726  0.025466   4.066801
971  0.410917  0.261874  0.660639   0.225604
975  0.389208  0.029318  0.790337   0.455363
976  0.119257  0.016513  0.518495   0.198157
977  0.361264  0.217931  0.538535   0.266154
978  0.377582  0.000829  0.581793   0.647572
982  0.457239  0.278989  0.996565   0.178864
984  0.154935  0.096410  0.795801   0.073542
985  0.126921  0.443428  0.859320  -0.368322
988  0.381958  0.058112  0.917827   0.352839
994  0.132644  0.472306  0.778643  -0.436223
995  0.082646  0.036840  0.439733   0.104169

[235 rows x 4 columns]

## Performance:When to Use These Functions

In [26]:
x = df[(df.A < 0.5) & (df.B < 0.5)]

In [27]:
tmp1 = df.A < 0.5
tmp2 = df.B < 0.5
tmp3 = tmp1 & tmp2
x = df[tmp3]

In [28]:
df.values.nbytes

32000